<h3 style = "color: green">Einstein's</h3>

<h4 style = "color: green">
   <p> Welcome to random facts that might not neccesarily blow you mind but might ... </p>
   <p>  Actually it just feels good learning new things. No knowledge is a waste. Except maybe ...</p>
   <p>   You just might end up on some game show where they ask who blah in blah.</p>
   <p>   At this point you know I'm just typing jibberish.  </p>
   <p> You really must be a nerd to have read al up till the 5th line.</p>
   <p> And now you on the 6th. </p>
   <p> Out of curiosity, you jumped to the 7th. I bet your eyes will drift to the 8th.</p>
   <p>  You just cant help it right? </p>
   <p>  I really want to stop, but I just have the same problem. I can't help it. </p>
   <p>  You and I are the same. I'm the author and yet i keep typing, hoping to see something at the end. </p>
   <p>  Ok. I've stopped.   </p>
</h4>

